
DataSet/asphalt/asphalt_04.png
DataSet/asphalt/asphalt_04.txt
DataSet/asphalt/asphalt_05.png
DataSet/asphalt/asphalt_05.txt
DataSet/asphalt/asphalt_06.png
DataSet/asphalt/asphalt_06.txt
DataSet/asphalt/asphalt_07.png
DataSet/asphalt/asphalt_07.txt
DataSet/asphalt/asphalt_08.png
DataSet/asphalt/asphalt_01.png
DataSet/asphalt/asphalt_01.txt
DataSet/asphalt/asphalt_02.png
DataSet/asphalt/asphalt_02.txt
DataSet/asphalt/asphalt_03.png
DataSet/asphalt/asphalt_03.txt
DataSet/asphalt/asphalt_08.txt
DataSet/asphalt/asphalt_09.png
DataSet/asphalt/asphalt_09.txt
DataSet/asphalt/asphalt_10.png
DataSet/asphalt/asphalt_10.txt
DataSet/asphalt/asphalt_11.png
DataSet/asphalt/asphalt_11.txt
DataSet/asphalt/asphalt_12.png
DataSet/asphalt/asphalt_12.txt
DataSet/asphalt/asphalt_13.png
DataSet/asphalt/asphalt_13.txt
DataSet/asphalt/asphalt_14.png
DataSet/asphalt/asphalt_14.txt
DataSet/asphalt/asphalt_15.png
DataSet/asphalt/asphalt_15.txt
DataSet/asphalt/asphalt_16.png
DataSet/asphalt/asphalt_16.txt
DataSet/asphalt/asphalt_17.png
DataSet/asphalt/asphalt_17.txt
DataSet/asphalt/asphalt_18.png
DataSet/asphalt/asphalt_18.txt
DataSet/asphalt/asphalt_19.png
DataSet/asphalt/asphalt_19.txt
DataSet/asphalt/asphalt_20.png
DataSet/asphalt/asphalt_20.txt
DataSet/asphalt/asphalt_21.png
DataSet/asphalt/asphalt_21.txt
DataSet/asphalt/asphalt_22.png
DataSet/asphalt/asphalt_22.txt
DataSet/asphalt/asphalt_23.png
DataSet/asphalt/asphalt_23.txt
DataSet/asphalt/asphalt_24.png
DataSet/asphalt/asphalt_24.txt
DataSet/asphalt/asphalt_25.png
DataSet/asphalt/asphalt_25.txt
DataSet/asphalt/asphalt_26.png
DataSet/asphalt/asphalt_26.txt
DataSet/asphalt/asphalt_27.png
DataSet/asphalt/asphalt_27.txt
DataSet/asphalt/asphalt_28.png
DataSet/asphalt/asphalt_28.txt
DataSet/asphalt/asphalt_29.png
DataSet/asphalt/asphalt_29.txt
DataSet/asphalt/asphalt_30.png
DataSet/asphalt/asphalt_30.txt
DataSet/asphalt/asphalt_31.png
DataSet/asphalt/asphalt_31.txt
DataSet/asphalt/asphalt_32.png
DataSet/asphalt/asphalt_32.txt
DataSet/asphalt/asphalt_33.png
DataSet/asphalt/asphalt_33.txt
DataSet/asphalt/asphalt_34.png
DataSet/asphalt/asphalt_34.txt
DataSet/asphalt/asphalt_35.png
DataSet/asphalt/asphalt_35.txt
DataSet/asphalt/asphalt_36.png
DataSet/asphalt/asphalt_36.txt
DataSet/asphalt/asphalt_37.png
DataSet/asphalt/asphalt_37.txt
DataSet/asphalt/asphalt_38.png
DataSet/asphalt/asphalt_38.txt
DataSet/asphalt/asphalt_39.png
DataSet/asphalt/asphalt_39.txt
DataSet/asphalt/asphalt_40.png
DataSet/asphalt/asphalt_40.txt
DataSet/asphalt/asphalt_41.png
DataSet/asphalt/asphalt_41.txt
DataSet/asphalt/asphalt_42.png
DataSet/asphalt/asphalt_42.txt
DataSet/asphalt/asphalt_43.png
DataSet/asphalt/asphalt_43.txt
DataSet/asphalt/asphalt_44.png
DataSet/asphalt/asphalt_44.txt
DataSet/asphalt/asphalt_45.png
DataSet/asphalt/asphalt_45.txt
DataSet/asphalt/asphalt_46.png
DataSet/asphalt/asphalt_46.txt
DataSet/asphalt/asphalt_47.png
DataSet/asphalt/asphalt_47.txt
DataSet/asphalt/asphalt_48.png
DataSet/asphalt/asphalt_48.txt
DataSet/asphalt/asphalt_49.png
DataSet/asphalt/asphalt_49.txt
DataSet/asphalt/asphalt_50.png
DataSet/asphalt/asphalt_50.txt
DataSet/grass/grass_01.png
DataSet/grass/grass_01.txt
DataSet/grass/grass_02.png
DataSet/grass/grass_02.txt
DataSet/grass/grass_03.png
DataSet/grass/grass_03.txt
DataSet/grass/grass_04.png
DataSet/grass/grass_04.txt
DataSet/grass/grass_05.png
DataSet/grass/grass_05.txt
DataSet/grass/grass_06.png
DataSet/grass/grass_06.txt
DataSet/grass/grass_07.png
DataSet/grass/grass_07.txt
DataSet/grass/grass_08.png
DataSet/grass/grass_08.txt
DataSet/grass/grass_09.png
DataSet/grass/grass_09.txt
DataSet/grass/grass_10.png
DataSet/grass/grass_10.txt
DataSet/grass/grass_11.png
DataSet/grass/grass_11.txt
DataSet/grass/grass_12.png
DataSet/grass/grass_12.txt
DataSet/grass/grass_13.png
DataSet/grass/grass_13.txt
DataSet/grass/grass_14.png
DataSet/grass/grass_14.txt
DataSet/grass/grass_15.png
DataSet/grass/grass_15.txt
DataSet/grass/grass_16.png
DataSet/grass/grass_16.txt
DataSet/grass/grass_17.png
DataSet/grass/grass_17.txt
DataSet/grass/grass_18.png
DataSet/grass/grass_18.txt
DataSet/grass/grass_19.png
DataSet/grass/grass_19.txt
DataSet/grass/grass_20.png
DataSet/grass/grass_20.txt
DataSet/grass/grass_21.png
DataSet/grass/grass_21.txt
DataSet/grass/grass_22.png
DataSet/grass/grass_22.txt
DataSet/grass/grass_23.png
DataSet/grass/grass_23.txt
DataSet/grass/grass_24.png
DataSet/grass/grass_24.txt
DataSet/grass/grass_25.png
DataSet/grass/grass_25.txt
DataSet/grass/grass_26.png
DataSet/grass/grass_26.txt
DataSet/grass/grass_27.png
DataSet/grass/grass_27.txt
DataSet/grass/grass_28.png
DataSet/grass/grass_28.txt
DataSet/grass/grass_29.png
DataSet/grass/grass_29.txt
DataSet/grass/grass_30.png
DataSet/grass/grass_30.txt
DataSet/grass/grass_31.png
DataSet/grass/grass_31.txt
DataSet/grass/grass_32.png
DataSet/grass/grass_32.txt
DataSet/grass/grass_33.png
DataSet/grass/grass_33.txt
DataSet/grass/grass_34.png
DataSet/grass/grass_34.txt
DataSet/grass/grass_35.png
DataSet/grass/grass_35.txt
DataSet/grass/grass_36.png
DataSet/grass/grass_36.txt
DataSet/grass/grass_37.png
DataSet/grass/grass_37.txt
DataSet/grass/grass_38.png
DataSet/grass/grass_38.txt
DataSet/grass/grass_39.png
DataSet/grass/grass_39.txt
DataSet/grass/grass_40.png
DataSet/grass/grass_40.txt
DataSet/grass/grass_41.png
DataSet/grass/grass_41.txt
DataSet/grass/grass_42.png
DataSet/grass/grass_42.txt
DataSet/grass/grass_43.png
DataSet/grass/grass_43.txt
DataSet/grass/grass_44.png
DataSet/grass/grass_44.txt
DataSet/grass/grass_45.png
DataSet/grass/grass_45.txt
DataSet/grass/grass_46.png
DataSet/grass/grass_46.txt
DataSet/grass/grass_47.png
DataSet/grass/grass_47.txt
DataSet/grass/grass_48.png
DataSet/grass/grass_48.txt
DataSet/grass/grass_49.png
DataSet/grass/grass_49.txt
DataSet/grass/grass_50.png
DataSet/grass/grass_50.txt
